/* CSS Document for use with The Duke Where and When (or simply TDWAW) */

/* pages using this style sheet are:
(tdwaw/)index.html
Messin'Around.html
NamingClippings.html
nextTDWAW.html (thus TDWAW.html)
acknowledments.html
TechTips.html
BiggestShowof1951.html 
HollywoodClub-1923.html
*/


BODY {
	background: #ffff99 url(DEatPiano-alteredscreencapture8.jpg);
	color: #000000;  
	font-size: .8em;  
	font-family: "Helvetica", "Arial", "Trebuchet MS", "Lucida Grande", "Verdana";
	}

A 	{text-decoration:underline;}


.intro {
  font-family: Verdana, Helvetica, "Lucida Grande", Arial, sans-serif;
  font-size: .8em;
  margin: 25px 20%;
  line-height:20px;
  }
.sherman {                          /*used for Sherman Hotel broadcast page*/
  font-family: Verdana, Helvetica, "Lucida Grande", Arial, sans-serif;
  font-size: .8em;
  margin: 5px 20%;
  line-height:20px;
  }
.sherman2 {          /*used for Sherman Hotel broadcast page DEMS quote in intro*/
padding-left: 5px; border-left: 1px dashed blue; margin: 0 0 0 10px; font-family: Verdana, Helvetica, Arial, sans-serif; font-size: .8em; margin: 5px 20%; line-height:20px;}


.emporia {
  font-family: Verdana, Helvetica, "Lucida Grande", Arial, sans-serif;
  font-size: 1em;
  color: black;
  margin: 5px 5%;
  line-height:20px;
   }

p {
  font-family: CourierNew, Verdana, Helvetica, "Lucida Grande", Arial, sans-serif;
  font-size: 0.9em;
  margin: 25px 30px;
   }

	.bq {margin: 5px 10px; padding-left: 5px; border-left: 1px dashed blue;}
					/*added 2013-09-03 to allow html <p> to emulate <blockquote>
					with smaller indents.  The syntax is <p class=bq>*/
	.bqc {margin: 5px 10px; padding-left: 5px; border-left: 1px dashed blue; text-align:center;}
					/*added 2013-09-25 to do the same as class .bq, but centre-aligned to reproduce ads.
					The syntax is <p class=bqc>*/

.smallcaps {font-variant: small-caps;}

.telegram {
  font-family: Verdana, Helvetica, "Lucida Grande", Arial, sans-serif;
  font-size: 0.8em;
  margin: 5px 10px;
  padding-left: 3px; border-left: 1px dashed blue;
  line-height:15px;
  font-variant:small-caps;
   }

.telegramrightalign {
  text-align:right;
  font-family: Verdana, Helvetica, "Lucida Grande", Arial, sans-serif;
  font-size: 0.8em;
  margin: 5px 10px;
  padding-left: 3px; border-left: 1px dashed blue;
  line-height:15px;
  font-variant:small-caps;
   }


   
 .blockquote {
  font-family: CourierNew, Verdana, Helvetica, "Lucida Grande", Arial, sans-serif;
  font-size: 1em;
  margin: 25px 380px;
   }
   
   
   
.KG {
	color: #003399;
	}/*this class creates a unique text colour to signify this row is original information
      from Klaus Götting's August 2011 edition of The Duke Where and When.
	  Subsequent entries will use black text. */

        /*  =========  TABLE AND TABLE CLASS FORMATTING ======== */

table {                       /* <!--generic table-->*/
	border:0; border-spacing: 5px;  border-collapse: collapse;  
	table-layout:    fixed;
	font-size: 0.9em;  
  font-family: "Helvetica", "Arial", "Trebuchet MS", "Lucida Grande", "Verdana";  
	}

	.outershell {
			width:99%;  
			border: 1px solid /*blue*/#B3B3B3 ;  
			}  /* <!--second level table (nested) -->*/

	.innershell {
			width:100%; 
			border-spacing:2px; border-style:none;  
			padding:2px;  margin: 0 2px 0 2px;
			}/* <!--nested inner table-->*/  

	.navbarlists {
			border-spacing:2px; 
			padding:2px; 
			margin-left:0; border-right: 1px #B3B3B3 solid;
			} /* <!--nested inner table-->*/
			
	.itinerary {
			width: 98%;/* Margin: auto;	margin-left: 10%; margin-right: 10%; */
			margin-left: auto; margin-right: auto; margin-top: 20px; 
			border-color: #B3B3B3; 
			border-top: 2px solid;  border-bottom: 2px solid; border-left: 1px dotted; 
			border-right: 1px dotted; border-spacing: 0; border-collapse: collapse;  
			font-size: 11px;  /*font-variant: small-caps;*/
			}
			
	.tableofrefs {
	/*margin-left:50px;*/ 
	margin:auto;
  border: 0; 
	width:65%; 
	font-variant: small-caps; font-size:0.75em; 
	}

TR { 	vertical-align: top;  }


UL {margin:0 0 0 15px; padding:1px 1px 5px 1px; text-indent:-1px; list-style-position:outside;}
/*UL {margin:0 0 0 10px; padding:1px 1px 5px 1px; text-indent:-1px; list-style-position:outside;}*/    /*removed 2015-01-25 11:22am*/
/*UL {margin:1px;1px;5px;1px; padding-left:1px; text-indent:-1px; list-style-position:inside;} */
 /*list-style-position:
 Possible Values: inside | outside   (Default Value: outside)  Determines where the marker  is placed in regard to the list item. If the value 'inside' is used,  the lines will wrap under the marker instead of being indented.*/

 /*LI {margin-left:2px; padding-left:1px; text-indent:-1px;}  experiment 2014-08-12 1648 */
 li { margin:1px 2px 5px 5px; /*padding-left: 1px; text-indent: -1px; */ }    /*experiment 2014-08-12 1648 */
                         /*text-indent moves the top row left margin to the right */

.two-column-ordered-list {padding:1px 1px 5px 1px; list-style-position:outside;}

 /*  =========  TABLE DATA CELL FORMATS ======== */

DL {margin-left:3px; padding-left:3px; list-style-type: square; list-style-position:inside; }


TD  
	.listleft {
	/*width: 48%;*/ margin:0; text-align:center; border-top:0; 
	}  /* left cell of navigation menu */

	.listright {
	width: 48%;  margin: 0; border-top:0; padding-right:10px;
	}      /* right cell of navigation menu */

	.Intro {
	padding: 35px;
	}    /* introductory paragraph at top of page */
	
	.contr {
	display:none;
	}  /* hides the contributor column */
	
	.month2 {
	text-align:left; /* vertical-align:text-bottom;*/ 
	padding:4px 0 0 0;  
	border-top:2px #8D8D8D solid;border-bottom:1px #B3B3B3 solid;
	}/* class for the month/year heading at the start of each year*/  
	
	.date  {
	width:50px; 
	padding:2px; 
	font-variant: normal; 
	border-left:1px #B3B3B3 solid;  border-top:2px #B3B3B3 solid;border-bottom:2px #B3B3B3 solid;
	}

	.end   {
	width:50px; padding:1px; 
	font-variant: normal; 
   font-size: 9px;
	border-left:1px #B3B3B3 dotted; border-top:2px #B3B3B3 solid;border-bottom:2px #B3B3B3 solid;
	}
	.city  {width:100px;padding:2px; border-left:1px #B3B3B3 dotted; border-top:2px #B3B3B3 solid;border-bottom:2px #B3B3B3 solid;}
	.venue {width:100px; padding:2px; border-left:1px #B3B3B3 dotted; border-top:2px #B3B3B3 solid;border-bottom:2px #B3B3B3 solid;}
	.event {width:200px; padding:2px; border-left:1px #B3B3B3 dotted; border-top:2px #B3B3B3 solid;border-bottom:2px #B3B3B3 solid;}
	.prim  {width:132px; padding:2px; border-left:1px #B3B3B3 dotted; border-top:2px #B3B3B3 solid;border-bottom:2px #B3B3B3 solid;
  }
	.ndref {width:34px; padding:2px; font-variant: normal; border-left:1px #B3B3B3 dotted; border-top:2px #B3B3B3 solid;border-bottom:2px #B3B3B3 solid;}
	.dems  {width:34px;padding:2px; border-left:1px #B3B3B3 dotted; border-top:2px #B3B3B3 solid; border-bottom:2px #B3B3B3 solid;}
	.other {width:55px;padding:2px; border-left:1px #B3B3B3 dotted; border-top:2px #B3B3B3 solid;border-bottom:2px #B3B3B3 solid;}
	.refscol-1 {width:10%;font-family: arial; font-size:.9em; padding:2px; margin-left:50px; }  /*reference table, column 1 cells*/                                                                                                            
	.refscol-2 {width:15%;font-family: arial; font-size: .9em; padding:2px; /*margin-left:10px;*/ } 
          /*reference table, column 2 cells*/
  .refscol-4 {width:25%;font-family: arial; font-size: .9em; padding:2px; /*margin-left:10px;*/ } 
                   /*additional book titles, first column */
  .refscol-5 {width:60%;font-family: arial; font-size: .9em; padding:2px; /*margin-left:10px;*/ } 
                   /*additional book titles, second column*/
	.added {width:40px; font-size: 0.7em; padding:2px 0 0 2px; border-left:1px #B3B3B3 dotted; border-top:2px #B3B3B3 solid; border-bottom:2px #B3B3B3 solid;} 

  
   /*  =========  H1  H2  H3  H4  H5  H6 FORMATTING ======== */
H1 {
	font: bold italic 3.5em Georgia, "Times New Roman",  "Book Antiqua", Palatino, Garamond, serif;
	color: #660066;
	font-variant: small-caps;
	text-align:center;
    margin-top:30px;
   }            

   
H2  {
   text-align:center;
   font: bold /*40px*/ 2.3em Georgia, "Times New Roman",  "Book Antiqua", Palatino, Garamond, serif;
   color: #660066; 
   font-variant: small-caps;
   margin-top:10px;    margin-bottom:5px; 
   }

H3 {
	text-align:center;
	font: bold 1.8em Georgia, "Times New Roman",  "Book Antiqua", Palatino, Garamond, serif;
	color: #660066;
	margin-bottom: 1.5em;/* 5em;*/  /*;5px;*/
    /*margin: 10px 0 10px 0;*/ 
   }            
 
 #month { 
	text-align: left;
	margin: 2em 0 1em 1em;
	}
   
 .month { 
	text-align: left;
	margin: 2em 0 1em 1em;
	}

 
 .myButton {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #69d7ff), color-stop(1, #11a7f7));	   background:-moz-linear-gradient( center top, #69d7ff 5%, #11a7f7 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#69d7ff', endColorstr='#11a7f7');
	background-color:/*#69d7ff;*/#1E90FF;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #eafc83;
	display:inline-block;
	color:#ebfc88;  	font-family:Verdana;  	font-size:.7em;  	font-weight:bold;
	padding:3px 8px;
	text-decoration:none;  margin-bottom: .2em;
   }
  .myButton:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #11a7f7), color-stop(1, #69d7ff) );     background:-moz-linear-gradient( center top, #11a7f7 5%, #69d7ff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#11a7f7', endColorstr='#69d7ff');
	background-color:#11a7f7; 
   }
.myButton:active {       	position:relative;  	top:1px;  }

q   {font-style:italic}

img.lt   {	
		float:left;  
		}  /*use this class for Unconfirmed.jpg*/
		
img.rt   {
		float:right;  
		}  /*use this class for New.jpg and Recent.jpg*/


#admin {
	margin-left: 75%;
	text-align: right;
	font-size: .6em; font-family: Arial Garamond, sans-serif;
	}

.instructions {
  margin-left:15%;
  margin-right:15%;
  font-family: Verdana, Helvetica, "Lucida Grande", Arial, sans-serif;
  font-size: 14px;
  }
  

/*beginning of CSS for the horizontal menu */
        #navcontainer ul  {
          margin: 0 2px;
          padding: 0 2px;
          list-style-type: none;
          text-align: center;
          /*float: left;*/
          font-family: Verdana, Helvetica, "Lucida Grande", Arial, sans-serif;  /*test*/
          font-size: .6em;
          }

        #navcontainer ul li {  display: inline; width:30px;}

        #navcontainer ul li a  {
          text-decoration: none;
          padding: .1em .3em;
          color: #660066;

          }

        #navcontainer ul li a:hover  {
          color: #fff;
          background-color: #3399ff;
          }
/*end of CSS for the horizontal menu */

