<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_xclick-subscriptions">
<input type="hidden" name="business" value="desukpp@gmail.com">
<input type="hidden" name="lc" value="GB">
<input type="hidden" name="item_name" value="DESUK Membership">
<input type="hidden" name="no_note" value="1">
<input type="hidden" name="src" value="1">
<input type="hidden" name="currency_code" value="GBP">
<input type="hidden" name="bn" value="PP-SubscriptionsBF:btn_subscribeCC_LG.gif:NonHostedGuest">
<table>
<tr><td><input type="hidden" name="on0" value="Subscription Options">Subscription Options</td></tr><tr><td><select name="os0">
	<option value="UK Membership">UK Membership : £25.00 GBP - yearly</option>
	<option value="Overseas Membership">Overseas Membership : £35.00 GBP - yearly</option>
	<option value="Overseas Digital Membership">Overseas Digital Membership : £25.00 GBP - yearly</option>
</select> </td></tr>
</table>
<input type="hidden" name="option_select0" value="UK Membership">
<input type="hidden" name="option_amount0" value="25.00">
<input type="hidden" name="option_period0" value="Y">
<input type="hidden" name="option_frequency0" value="1">
<input type="hidden" name="option_select1" value="Overseas Membership">
<input type="hidden" name="option_amount1" value="35.00">
<input type="hidden" name="option_period1" value="Y">
<input type="hidden" name="option_frequency1" value="1">
<input type="hidden" name="option_select2" value="Overseas Digital Membership">
<input type="hidden" name="option_amount2" value="25.00">
<input type="hidden" name="option_period2" value="Y">
<input type="hidden" name="option_frequency2" value="1">
<input type="hidden" name="option_index" value="0">
<input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
<br/>
